@font-face {
    font-family: 'Hack Nerd Font';
    src: url('https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@latest/patched-fonts/Hack/Regular/HackNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.terminal {
    font-family: "Hack Nerd Font", "DejaVu Sans Mono", "Everson Mono", FreeMono, Menlo, Terminal, monospace, "Apple Symbols";
}

.xterm-overlay {
    font-family: "Hack Nerd Font", "DejaVu Sans Mono", "Everson Mono", FreeMono, Menlo, Terminal, monospace, "Apple Symbols";
    border-radius: 15px;
    font-size: xx-large;
    color: black;
    background: white;
    opacity: 0.75;
    padding: 0.2em 0.5em 0.2em 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    transition: opacity 180ms ease-in;
}